@media screen and (max-width: 1050px) {
    #nav {
        min-height: unset;
        width: 100%;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    }
    #nav a {
        margin-bottom: 0;
    }
    .nav__link {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    #main {
        margin: 71px 0 0;
    }
}

@media screen and (max-width: 800px) {
    #main {
        padding: 20px;
    }
    #main>div {
        display: block;
    }
    #main>div>div:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }
    #main>div>div:nth-child(2) {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .match__today .match:nth-child(2), .match__tomorrow .match:nth-child(2) {
        height: 150px;
    }
}